<a href="https://colab.research.google.com/github/ericodosreis/USP_MECAI_ICC_MAI5001/blob/main/T%C3%B3pico_2_Estruturas_de_Controle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estrutura Condicional

---

In [ ]:
print('Entre com valores inteiros para x e y')
x=int(input("x="))
y=int(input("y="))
if(x<y):
  print(f'{x}<{y}')
elif(x==y):
  print(f'{x}=={y}')
else:
  print(f'{x}>{y}')

Entre com valores inteiros para x e y
x=20
y=30
20<30

In [ ]:
x=int(input("x="))
y=int(input("y="))
if(x<y):
        if(y!=0):
           print(x,"/",y, "=", x/y)
        elif(x!=0):
           print(x**y)
        print(x,"<",y,"e", x, "+",y,"=",x+y)
elif(x==y):
        print(x,"==",y)
else:
        print(x,">",y,"e", x, "-",y,"=", x-y)
        if(y!=0):
           print(x,"mod",y, "=", x%y)

x=5
y=2
5 > 2 e 5 - 2 = 3
5 mod 2 = 1

In [ ]:
st=input("Digite três frutas da sua lista de compras:").split()
print(st)
if 'banana'in st:
  print('Você vai comprar banana')
else:
  print('Você não vai comprar banana')

Digite três frutas da sua lista de compras:1 banana 2
['1', 'banana', '2']
Você vai comprar banana

In [ ]:
x,y,z=map(float,input().split())
if (x+y>z and x+z>y and y+z>x):
  if (x==y and y==z):
    print('equilatero')
  elif (x==y or x==z or y==z):
    print('isosceles')
  else:
    print('escaleno')
else:
  print('Não são medidas de um triângulo')

1 1 1
equilatero

## Operador ternário

In [ ]:
nota = 10
if (nota > 5.0):
  print('Aprovado')
else:
  print('Reprovado')

Aprovado

In [ ]:
nota = 10
print('Aprovado') if (nota > 5.0) else print('Reprovado')
nota = 3
msg = 'Aprovado' if (nota > 5.0) else 'Reprovado'
print(msg)

Aprovado
Reprovado

## Uso do pass

In [ ]:
#Uso do pass
for number in range(1, 100):
    if number % 13 != 0:
        # Não é múltiplo de 13
      pass
    else:
        print(f'{number} é um múltiplo de 13')

13 é um múltiplo de 13
26 é um múltiplo de 13
39 é um múltiplo de 13
52 é um múltiplo de 13
65 é um múltiplo de 13
78 é um múltiplo de 13
91 é um múltiplo de 13

#Estrutura de Repetição Contada

In [ ]:

#Exibindo iterações direta e reversa...e uso de end no print
print('\nExemplo 1:')
for i in range(1,10):
    print(i)

Exemplo 1:
1
2
3
4
5
6
7
8
9

In [ ]:
print('\nExemplo 2:', end='')
for i in range(1,10):
    print("",i,end='')

Exemplo 2: 1 2 3 4 5 6 7 8 9

In [ ]:
print('\nExemplo 3:', end='')
for i in range(10,1,-1):
     print("",i,end='')

Exemplo 3: 10 9 8 7 6 5 4 3 2

In [ ]:
print('\nExemplo 4 - reversed() function:', end='')
for i in reversed(range(10)):
    print("",i,end='')

Exemplo 4 - reversed() function: 9 8 7 6 5 4 3 2 1 0

In [ ]:

print('\nExemplo 1:')
i=1
while (i<10):
  print(f' {i}',end='')
  i=i+1

print()

i=9
while (i>0):
  print(f' {i}',end='')
  i=i-1

Exemplo 1:
 1 2 3 4 5 6 7 8 9
 9 8 7 6 5 4 3 2 1

In [ ]:
##Exibindo iterações com saltos
print('\nExemplo 1:',end='')
for i in range(1,10,2):
    print("",i,end='')
print('\nExemplo 2:',end='')
for i in range(10,1,-2):
    print("",i,end='')
print('\nExemplo 3:',end='')
for i in range(-10,11,5):
    print("",i,end='')

Exemplo 1: 1 3 5 7 9
Exemplo 2: 10 8 6 4 2
Exemplo 3: -10 -5 0 5 10

In [ ]:
##Exibindo iterações com saltos
i=1
while (i<10):
  print(f' {i}',end='')
  i+=2

print()

i=10
while (i>1):
  print(f' {i}',end='')
  i-=2

print()

i=-10
while(i<11):
  print(f' {i}',end='')
  i+=5

 1 3 5 7 9
 10 8 6 4 2
 -10 -5 0 5 10

In [ ]:
##Iterando com não inteiros
##Exemplo 8 - Range não aceita parâmetros float
for i in range(0,1,0.1):
    print("",i,end='')
print('\n******\n')

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
import numpy as np
print(f'[0,1]:',end='')
for i in np.arange(0, 1, 0.1):
    print(f'{i:.1f}', end=', ')
print(f'\n\n[5.5,15.5]:',end='')
for i in np.arange(5.5, 15.5, 1.5):
    print(f'{i:.2f}', end=' ')
print(f'\n\n[15.5,1.5]:',end='')
for i in reversed(np.arange(5.5, 15.5, 1.5)):
    print(f'{i:.2f}', end=' ')

[0,1]:0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9,

[5.5,15.5]:5.50 7.00 8.50 10.00 11.50 13.00 14.50

[15.5,1.5]:14.50 13.00 11.50 10.00 8.50 7.00 5.50

In [ ]:

import numpy as np
print('\nnp.arange() com valores negativos:')
for i in np.arange(-1.0, 1.0, 0.1):
    print("%.2f" % i, end=' ')

print('\nnp.arange() só valores negativos:')
for i in np.arange(-5.0, -10.0, -0.5):
    print("%.2f" % i, end=' ')

np.arange() com valores negativos:
-1.00 -0.90 -0.80 -0.70 -0.60 -0.50 -0.40 -0.30 -0.20 -0.10 -0.00 0.10 0.20 0.30 0.40 0.50 0.60 0.70 0.80 0.90
np.arange() só valores negativos:
-5.00 -5.50 -6.00 -6.50 -7.00 -7.50 -8.00 -8.50 -9.00 -9.50

**numpy.linspace()** é usada para criar sequências numéricas igualmente espaçadas dentro de um intervalo especificado. Ela é muito útil para geração de eixos de gráfico, discretização de domínios contínuos, simulações numéricas, entre outros.

    numpy.linspace(start, stop, num=50, *, endpoint=True, retstep=False, dtype=None, axis=0)

| Parâmetro  | Tipo / padrão | O que faz                                                           |
| ---------- | ------------- | ------------------------------------------------------------------- |
| `start`    | escalar       | Valor inicial da sequência.                                         |
| `stop`     | escalar       | Valor final da sequência.                                           |
| `num`      | int, *50*     | Número de pontos gerados.                                           |
| `endpoint` | bool, *True*  | Inclui (`True`) ou não (`False`) o valor `stop`.                    |
| `retstep`  | bool, *False* | Se `True`, retorna também o espaçamento entre pontos.               |
| `dtype`    | tipo NumPy    | Tipo dos elementos (por padrão, inferido).                          |
| `axis`     | int, *0*      | Eixo ao longo do qual a sequência é colocada (útil em arrays >1 D). |

In [ ]:
print(f'[1.5,11.5] com 5:',end=" ")
for i in np.linspace(1.5, 11.5, num=5):
    print(f'{i:.2f}', end=', ')
print('')

print(f'[1.5,11.5] com 7:',end=" ")
for i in np.linspace(1.5, 11.5, num=7):
    print(f'{i:.2f}', end=', ')
print('')


print(f'[1.5,11.5] com 5 sem incluir último valor:',end=" ")
for i in np.linspace(1.5, 11.5, num=5, endpoint=False):
    print(f'{i:.2f}', end=', ')
print('')

print(f'[1.5,11.5] com 7 sem incluir último valor:',end=" ")
for i in np.linspace(1.5, 11.5, num=7, endpoint=False):
    print(f'{i:.2f}', end=', ')
print('')

[1.5,11.5] com 5: 1.50, 4.00, 6.50, 9.00, 11.50,
[1.5,11.5] com 7: 1.50, 3.17, 4.83, 6.50, 8.17, 9.83, 11.50,
[1.5,11.5] com 5 sem incluir último valor: 1.50, 3.50, 5.50, 7.50, 9.50,
[1.5,11.5] com 7 sem incluir último valor: 1.50, 2.93, 4.36, 5.79, 7.21, 8.64, 10.07,

In [ ]:
i=0
while i<1:
  print(f' {i:.2f}',end='')
  i+=0.1

 0.00 0.10 0.20 0.30 0.40 0.50 0.60 0.70 0.80 0.90 1.00

In [ ]:
#Não funciona
for i in range('a','z'):
    print("",i,end='')

In [ ]:
#Fazendo funcionar
for i in range(ord('a'),ord('z')):
  print("",chr(i),end='')

print()

i=ord('a')
while(i<ord('z')):
  print("",chr(i),end='')
  i += 1

 a b c d e f g h i j k l m n o p q r s t u v w x y
 a b c d e f g h i j k l m n o p q r s t u v w x y

#Exemplos fazendo cálculos

In [ ]:
print('\nExemplo 1 - Média aritmética\n')
n = int(input("qtd valores="))
soma=0;
for i in range(n):
     valor = float(input("valor="))
     soma += valor;
     print(soma,valor)
print("média=",soma/n)
ok=input("Continue")

print('\nExemplo 2 - Fatorial\n')
n = int(input("n="))
fat=1;
for i in range(1,n):
     fat = fat*(i+1)5
print("n!=",fat)
ok=input("Continue")

print('\nExemplo 3 - Fatorial com reversed()\n')
n = int(input("n="))
fat=1;
for i in reversed(range(n)):
     print(i)
     fat = fat*(i+1)
print("n!=",fat)
ok=input("Continue")

Exemplo 1 - Média aritmética

qtd valores=4
valor=10
10.0 10.0
valor=7.5
17.5 7.5
valor=8.3
25.8 8.3
valor=9.2
35.0 9.2
média= 8.75
Continue

Exemplo 2 - Fatorial

n=5
n!= 120
Continue

Exemplo 3 - Fatorial com reversed()

n=5
4
3
2
1
0
n!= 120
Continue

#for com reversed() e formatado em uma única linha

In [ ]:

lista=['joao',20,1.80,82.5]
print('ordem direta:', end='')
for i in lista:
  print(f'{i}',end=' ')
print()

print('ordem inversa:', end='')
for i in reversed(lista):
  print(i,end=' ')

print('\nordem inversa:', end='')
for i in lista[::-1]:
  print(i,end=' ')

ordem direta:joao 20 1.8 82.5
ordem inversa:82.5 1.8 20 joao
ordem inversa:82.5 1.8 20 joao

In [ ]:
print('for numa única linha')
lista=map(int,input('Lista de valores=').split())
listaPar= [i for i in lista if i%2 == 0]
print(f'{listaPar=}')

for numa única linha
Lista de valores=1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
listaPar=[2, 4, 6, 8, 10, 12, 14]
<map object at 0x7bdfc9a3e770>

#for vs while e aninhamento

In [ ]:
print('Exemplo: Potências de i')
lista=list(map(int,input('Lista de valores=').split()))
print(lista)
for i in lista:
    print('Potências de', i)
    j = 0
    tempList=[]
    while(j < 11):
        tempList.append(i**j)
        j+=1
    print(tempList)

Exemplo: Potências de i
Lista de valores=2 5 12
[2, 5, 12]
Potências de 2
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
Potências de 5
[1, 5, 25, 125, 625, 3125, 15625, 78125, 390625, 1953125, 9765625]
Potências de 12
[1, 12, 144, 1728, 20736, 248832, 2985984, 35831808, 429981696, 5159780352, 61917364224]

#Manipulando string com for e while

In [ ]:

print('Exemplo 1: for e string')
s = "for"
for i in s:
  print(i)

ok=input("Continue")

print('Exemplo 2: for e string')
s = input('frase:').split()
print(s)
for i in s:
  print(i)

ok=input("Continue")

print('Exemplo 3: for e string')
for i in input('frase:').split():
  print(i)

ok=input("Continue")


print('Exemplo 4: while e string')
s = "while"
print(s)
i = 0
tam = len(s) - 1
while i <= tam:
    print(s[i])
    i = i + 1

ok=input("Continue")

print('Exemplo 5: while e string')
s = input('frase:').split()
print(s)
i = 0
tam = len(s) - 1
while i <= tam:
    print(s[i])
    i = i + 1

Exemplo 1: for e string
f
o
r
Continue
Exemplo 2: for e string
frase:Os alunos foram aprovados
['Os', 'alunos', 'foram', 'aprovados']
Os
alunos
foram
aprovados
Continue
Exemplo 3: for e string
frase:Os alunos foram aprovados
Os
alunos
foram
aprovados
Continue
Exemplo 4: while e string
while
w
h
i
l
e
Continue
Exemplo 5: while e string
frase:Os alunos foram aprovados
['Os', 'alunos', 'foram', 'aprovados']
Os
alunos
foram
aprovados

#for e while manipulando listas

In [ ]:

# print('\nExemplo 1 - Média com lista, versão for\n')
# soma=0
# lista=list(map(float,input('Lista de valores=').split()))
# for x in lista:
#   soma=soma+x
# print(f'{soma/len(lista):.2f}')
# ok=input("Continue")

# print('\nExemplo 2 - Média com lista, versão while\n')
# soma=0
# lista=list(map(float,input('Lista de valores=').split()))
# tam = len(lista)
# i=0
# while(i<tam):
#   soma=soma+lista[i]
#   i+=1
# print(f'{soma/len(lista):.2f}')
# ok=input("Continue")

# print('\nExemplo 2 - Exibindo lista, versão for\n')
# lista=list(map(float,input('Lista de valores=').split()))
# tam = len(lista)
# for i in range(tam):
#     print(f'lista[{i}]={lista[i]}')

# print('\nExemplo 3 - Exibindo lista, versão while\n')
# lista=list(map(float,input('Lista de valores=').split()))
# tam = len(lista)
# i=0
# while(i < tam):
#   print(f'lista[{i}]={lista[i]}')
#   i+=1

print('\nExemplo 3 - Convertendo lista, versão for\n')
lista= input('Lista de valores=').split()
listaFloat = [float(i) for i in lista]
print(lista)
print(listaFloat)

print('\nExemplo 4 - Convertendo lista, versão while\n')
lista= input('Lista de valores=').split()
listaFloat = []
i=0
tam = len(lista)
while ( i<tam):
  listaFloat.append(float(lista[i]))
  i+=1
print(lista)
print(listaFloat)

Exemplo 3 - Convertendo lista, versão for

Lista de valores=10.0 8.6 9.7
['10.0', '8.6', '9.7']
[10.0, 8.6, 9.7]

Exemplo 4 - Convertendo lista, versão while

Lista de valores=10 8.6 9.7
['10', '8.6', '9.7']
[10.0, 8.6, 9.7]

#for e while com break

In [ ]:

##Exemplo 1
lista = [15,17,23,44,67,88]
for i in lista:
  if(i%2==0):
    break
  print(i)

#Exemplo 2
for i in range(101,199):
  for j in range(2,i-1):
    if(i%j==0):
      print(f'primeiro divisor de {i} é {j}')
      break
  if(i%2==0)and(i%15==0):
    print(f'Parou tudo pq {i} é  divisível por 2 e 15')
    break

15
17
23
primeiro divisor de 102 é 2
primeiro divisor de 104 é 2
primeiro divisor de 105 é 3
primeiro divisor de 106 é 2
primeiro divisor de 108 é 2
primeiro divisor de 110 é 2
primeiro divisor de 111 é 3
primeiro divisor de 112 é 2
primeiro divisor de 114 é 2
primeiro divisor de 115 é 5
primeiro divisor de 116 é 2
primeiro divisor de 117 é 3
primeiro divisor de 118 é 2
primeiro divisor de 119 é 7
primeiro divisor de 120 é 2
Parou tudo pq 120 é  divisível por 2 e 15

#for e while com continue

In [ ]:

# #Exemplo 1
# lista = [15,17,23,44,67,88]
# for i in lista:
#   if(i%2==0):
#     continue
#   print(i)


# #Exemplo 2
# for i in range(101,199):
#   aux=[]
#   for j in range(2,i-1):
#     if(i%j==0):
#       aux.append(j)
#       continue
#   if aux:
#     print(f'divisores de {i}:{aux}')
#   if(i%2==0)and(i%15==0):
#     print(f'\n****{i} é divisível por 2 e 15******\n')


#Exemplo 3
listaA=[chr(i) for i in range(ord('a'),ord('z')+1)]
print(listaA)
listaB=[chr(i) for i in range(ord('A'),ord('Z')+1)]
print(listaB)
i = 0
entrada = 'J24341o$*$3ã&5o0'
tam = len(entrada)
saida=''
while i < tam:
    if (entrada[i] not in listaA)and((entrada[i] not in listaB)):
      print(f'Inválido: {entrada[i]}')
      i+=1
      continue
    saida += entrada[i]
    i+=1
print(f'Válido:{saida}')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
Inválido: 2
Inválido: 4
Inválido: 3
Inválido: 4
Inválido: 1
Inválido: $
Inválido: *
Inválido: $
Inválido: 3
Inválido: ã
Inválido: &
Inválido: 5
Inválido: 0
Válido:Joo

In [ ]:
layers = [
    [[1, 2, 3], [4, -1, 6], [7, 8, 9]],  # camada 0
    "INVALID",                            # camada 1 (inteira ignorada)
    [[10, 11, None], [12, 13, 14], [15, -5, 16]]  # camada 2
]

total = 0

for L, layer in enumerate(layers):
    # Nível 1: pular a camada inteira se inválida
    if layer == "INVALID":
        print(f"Camada {L}: inválida -> continue (laço das camadas)")
        continue

    for r, row in enumerate(layer):
        # Nível 2: pular a linha inteira se houver None
        if any(x is None for x in row):
            print(f"  Linha {r}: contém None -> continue (laço das linhas)")
            continue

        for c, x in enumerate(row):
            # Nível 3: pular só este elemento se for negativo
            if x < 0:
                print(f"    Coluna {c}: negativo ({x}) -> continue (laço das colunas)")
                continue

            total += x

print("Total acumulado =", total)  # -> 110

    Coluna 1: negativo (-1) -> continue (laço das colunas)
Camada 1: inválida -> continue (laço das camadas)
  Linha 0: contém None -> continue (laço das linhas)
    Coluna 1: negativo (-5) -> continue (laço das colunas)
Total acumulado = 110

# for e while com else

*  Python permite adicionar um bloco de instruções **else**  a um bloco **for** ou **while**.
*  Funcionamento similar a estrutura condicional **if**.
*  Se o laço terminar como previsto, **else** será executado.
*  Se o laço terminar, por exemplo, usando **break**, o bloco **else** não será executado.

In [ ]:

# print('Exemplo1: for com else')
# #lista=[1,3,5,7,8,9,10]
# lista=[1,3,5,7,9,11]
# for i in lista:
#   if(i % 2 == 0):
#     print(f'Número par encontrado: {i}')
#     break

#  else:
#    print (f'Lista com apenas números ímpares:{lista}')

# ok=input("Continue")

print('Exemplo2: while com else')
#lista=[1,3,5,7,8,9,10]
lista=[1,3,5,7,9,11]
i=0
while (i<len(lista)):
  if lista[i] % 2 == 0:
    print (f'Número par encontrado: {lista[i]}')
    break
  i+=1
else:
  print (f'Lista com apenas números ímpares:{lista}')

Exemplo2: while com else
Lista com apenas números ímpares:[1, 3, 5, 7, 9, 11]